<div class="user-identity-card access-border-{{ request.user.access_class }}">
    <div class="user-identity-corner-badge access-badge-{{ request.user.access_class }}">
        {{ request.user.access_class }}
    </div>
    <div class="user-identity-photo">
        {% if request.user.avatar %}
            <img src="{{ request.user.avatar.url }}" alt="Аватар" class="user-identity-avatar-img">
        {% else %}
            <div class="user-identity-avatar">
                {{ request.user.first_name|first }}{{ request.user.middle_name|first }}
            </div>
        {% endif %}
    </div>
    <div class="user-identity-main">
        <div class="user-identity-line">
            <div class="user-identity-value">
                {{ request.user.organization.name|default:"—" }}
            </div>
        </div>
        <div class="user-identity-line">
            <div class="user-identity-value">
                {{ request.user.position.name|default:"—" }}
            </div>
        </div>
        <div class="user-identity-line">
            <div class="user-identity-value">
                {{ request.user.last_name }} {{ request.user.first_name|first }}.{{ request.user.middle_name|first }}.
            </div>
        </div>
        <div class="user-identity-line">
            <div class="user-identity-value">
                {{ request.user.username }}
            </div>
        </div>
    </div>
</div>