{% extends "base.html" %}

{% block title %}
ССОД Auth Center
{% endblock %}

{% block content %}
<section class="hero-card">

    <div class="hero-badge">
        ССОД Auth Center
    </div>

    <h1>
        Центр авторизации ССОД
    </h1>

    <p class="hero-text">
        Единая точка входа для сервисов ССОД,
        будущих продуктов Dominex,
        FinSoft и внутренних ключей доступа.
    </p>


    <div class="hero-actions">
        <a class="button primary" href="/account/">
            Вход в ЛК
        </a>

        <a class="button secondary" href="/manage/">
            Панель управления
        </a>

        <a class="button secondary" href="https://ssod.pro/">
            Основной сайт
        </a>
    </div>




</section>
{% endblock %}
